<template name="events">
    <h1>Events</h1>
    <br />
    Here are our regular Masses and other Liturgies, occurring on a monthly basis:
    <ul>
        <li>Saturdays at 17.30 hrs: Confessions (half-hour before Mass)</li>
        <li>Saturdays at 18.00 hrs: First Mass of Sunday</li>
        <li>Sundays at 09.30 hrs: Principal Mass with Children's Liturgy (when Dorset schools in session).</li>
        <li>Sundays at 11.15 hrs: Ordinariate Use High Mass</li>
        <li>Sundays at 16.00 hrs (first in month only): Syro-Malabar Mass in Malayalam language</li>
        <li>Sundays at 15.30 hrs (last in month only): Open Choir Rehearsal for Evensong</li>
        <li>Sundays at 16.30 hrs (last in month only): Choral Evensong with Benediction</li>
        <li>Mondays: No services (Parish Priest's day off)</li>
        <li>Tuesdays at 09.30 hrs: Weekday Mass</li>
        <li>Tuesdays at 10.00 hrs: Devotions (first Sunday, Exposition and Adoration of the Blessed Sacrament)</li>
        <li>Wednesday at 10.30 hrs: Ordinariate Use Low Mass</li>
        <li>Thursdays at 09.30 hrs: Weekday Mass</li>
        <li>Fridays at 09.30 hrs: Weekday Mass</li>
        <li>Fridays at 10.00 hrs (first in month only): Toddler Group</li>
    </ul>
    <br />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Start</th>
                <th>End</th>
                <th>Category</th>
                <th>Location</th>
                <th>Description</th>
                <th>Attendees</th>
            </tr>
        </thead>
        <tbody>
            {{#each events}}
            <tr>
                <td>{{dtstart}}</td>
                <td>{{dtendl}}</td>
                <td>{{categories}}</td>
                <td>{{location}}</td>
                <td>{{description}}</td>
                <td>{{attendee}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</template>
