<template name="biddingPrayers">
    <br />
    <br />
    <br />
    <br />
    <h1>This Week's Bidding Prayers</h1>
    <div class="container">
        <iframe src="https://docs.google.com/document/d/1AEGJu9NzcGgOLtZl1GR0ZXK_5U_4kGAYtHj6vzMhBK4/edit?usp=sharing"></iframe>
    </div>
</template>

<template name="liturgies">
    <div class="container">
        <h1>Regularly Occurring Liturgies</h1>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Weeks</th>
                    <th>Start</th>
                    <th>Rite</th>
                    <th>Language</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {{#each liturgies}}
                <tr>
                    <td>{{dow}}</td>
                    <td>{{weeks}}</td>
                    <td>{{startTime}}</td>
                    <td>{{rite}}</td>
                    <td>{{language}}</td>
                    <td>{{description}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="rotas">
    <div class="container">
        <iframe src="http://www.ordinariate.org.uk/cmsAdmin/uploads/ordo_2016.pdf"></iframe>
    </div>
</template>

